{% extends "site_base.html" %}
{% load i18n applicationcontent_tags %}

{% block extra_head %}
<style type="text/css" media="screen">
.pad h3 {
  color: #333;
}
.pad p {
  line-height: 16px;
  font-size: 12px;
  color: #6C6C6C;
}
</style>

{% endblock extra_head %}

{% block content %}
<!-- intro start -->
<div class="container-fluid">
  <div class="row-fluid">
  <ul class="thumbnails">
    <li class="span3">
      <div class="pad h5">
        <img data-src="holder.js/300x200" src="{{ STATIC_URL }}img/front_1.jpg">
        <div class="caption">
          <h3>交流</h3>
          <p>大建设、大融合、大比武是近年来杭州市市医疗卫生工作的基本方略，“区县强，全市强”更是全市疾控战线的创新意识，只有“城乡一体化发展”才能带来全市疾控的崭新局面。进一步加强协作与交流能更快更好的完成应急检测任务，提高检测水平，丰富实践经验，锻炼实验技能。</p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="pad h5">
        <img src="{{ STATIC_URL }}img/front_2.jpg">
        <div class="caption">
          <h3>检测</h3>
          <p>参与和指导地方处理重大疫情、突发公共卫生事件，建立杭州重大疾病、中毒、卫生污染、救灾防病等重大公共卫生问题的应急反应能力 ，配合并参与对重大突发公共卫生事件的调查处理，需要实验室能够做对突发公共卫生事件实验室的应急诊断技术的研究、开发与应用。</p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="pad h5">
        <img src="{{ STATIC_URL }}img/front_3.jpg" />
        <div class="caption">
          <h3>计算</h3>
          <p>了解大自然无声而优雅的生命语言，是现代分子生物学的追求。海量分子数据和其神秘的和微妙的模式导致计算机化的数据库和分析工具的要求。寻找新的方法来处理大量复杂的数据，并提供给研究人员更便捷的分析和计算工具，来推进我们对病原在疾病中的作用的认识。</p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="pad h5">
        <img src="{{ STATIC_URL }}img/front_4.jpg" />
        <div class="caption">
          <h3>分析</h3>
          <p>了解大自然无声而优雅的生命语言，是现代分子生物学的追求。海量分子数据和其神秘的和微妙的模式导致计算机化的数据库和分析工具的要求。寻找新的方法来处理大量复杂的数据，并提供给研究人员更便捷的分析和计算工具，来推进我们对病原在疾病中的作用的认识。</p>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="copyright">
    <div class="two-even"><p>© Copyright 2011.  <a href="mailto:indexofire@hotmail.com">Mark Renron</a> from <a href="http://www.hzcdc.net/" target="_self">HZCDC</a>. All Rights Reserved!</p><p>Site built on <a href="http://www.feinheit.ch">Feincms</a> based on <a href="http://www.djangoproject.com">Django</a></p></div>
  </div>
</div>

{% endblock content %}
