{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ SITE_NAME }} - {% trans 'Sign up' %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 pad">
      <h3 class="title">{{ SITE_NAME }}: {% trans "Sign up" %}</h3>
      <h5>&nbsp;</h5>
      <form id="#form-signup" class="form-horizontal" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_bootstrap }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">{% trans "Sign up" %}</button>
          </div>
        </div>
      </form>
  </div>
  </div>
</div>
{% endblock content %}
