{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }} - {% trans "Change user's password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 pad">
      <h3 class="title">{% trans "Change password" %}</h3>
      <div class="holder">
        <form method="POST" action="">{% csrf_token %}
          <fieldset>
            <table class="table">{{ form.as_table }}</table>
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li>{% trans "Change password" %}</li>
{% endblock breadcrumbs %}
