{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }}{% trans 'Edit user' %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li><a href="{% url 'gauth-detail' user.pk %}">{% trans 'User' %} {{ user.username }}</a></li>
<li>{% trans "Edit" %}</li>
{% endblock breadcrumbs %}

{% block account-content %}
<div class="span3">
  <div class="pad">
    <h3 class="title">{{ object.username }}</h3>
    <div class="holder">
      <img src="{{ object.avatar }}" class="img-circle" alt="{% trans 'Your avatar' %}">
      {% if request.user == object or request.user.is_superuser %}
      <ul class="navbar">
        <li><a href="{% url 'gauth-detail' request.user.id %}">{% trans "view details" %}</a></li>
        <li>{% trans "edit details" %}</li>
        <li><a href="{% url 'gauth-password-change' %}">{% trans "change password" %}</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>

<div class="span9">
<div class="pad">
  <h3 class="title">{% trans "Edit account" %}</h3>
  <div class="holder">
  <form method="POST" action="{% url 'gauth-edit' user.pk %}" class="form-horizontal" >
    {% csrf_token %}
    {{ form.as_bootstrap }}
    <div class="control-group">
      <div class="controls"><button type="submit" class="btn btn-primary">{% trans "Save" %}</button></div>
    </div>
  </form>
  </div>
</div>
</div>
{% endblock account-content %}
