{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }} - {% trans "Change user's password" %}{% endblock %}

{% block content %}
<div id="container">
  <hgroup id="login-title" class="small-margin-bottom">
    <h1 class="login-title-image">{{ SITE_NAME }}</h1>
  </hgroup>

  <form method="POST" action="">{% csrf_token %}
    <legend>{% trans "Change password" %}</legend>
    <fieldset>
      <table class="table">{{ form.as_table }}</table>
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    </fieldset>
  </form>

{% endblock content %}
