{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ SITE_NAME }} - {% trans 'Sign up' %}{% endblock %}

{% block content %}
<div id="container">
  <hgroup id="login-title" class="small-margin-bottom">
    <h1 class="login-title-image">{{ SITE_NAME }}</h1>
  </hgroup>

  <form id="#form-signup" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    <ul class="inputs black-input large">
      <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
      <li><span class="icon-user mid-margin-right"></span><input autocomplete="off" id="id_username" maxlength="30" name="username" type="text" class="input-unstyled" placeholder="{% trans 'Username' %}"></li>
      <li><span class="icon-lock mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_password" name="password" type="password" class="input-unstyled" placeholder="{% trans 'Password' %}"></li>
      <li><span class="icon-lock mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_password_confirm" name="password_confirm" type="password" class="input-unstyled" placeholder="{% trans 'Password' %}"></li>
      <li><span class="icon-email mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_email" name="email" type="text" class="input-unstyled" placeholder="{% trans 'Email' %}"></li>
      <input id="id_code" name="code" type="hidden">
    </ul>
    <button type="submit" class="button glossy full-width huge">{% trans 'Submit' %}</button>
  </form>

</div>
{% endblock content %}

{% block foot-js %}
{{ block.super }}
<script src="{{ STATIC_URL }}libs/jqueryform/jquery.form.js"></script>

<!-- Ajax Login script -->
<script>
$(document).ready(function()
{
  var doc = $('html').addClass('js-login'),
      container = $('#container'),
      formLogin = $('#form-signup');
  var username = $.trim($('#id_username').val()),
      password = $.trim($('#id_password').val());

  var options =
  {
    beforeSubmit: showRequest,
    success: showResponse,
    dataType: 'json',
  };

  formLogin.submit(function() {
    formLogin.ajaxSubmit(options);
    return false;
  });

  function handleLoginResize()
  {
    // Detect mode
    centered = (container.css('position') === 'absolute');

    // Set min-height for mobile layout
    if (!centered)
    {
      container.css('margin-top', '');
    }
    else
    {
      if (parseInt(container.css('margin-top'), 10) === 0)
      {
        centerForm(false);
      }
    }
  };

  // Register and first call
  $(window).bind('normalized-resize', handleLoginResize);
  handleLoginResize();

  function centerForm(animate, ignore)
  {
    // If layout is centered
    if (centered)
    {
      var siblings = formLogin.siblings(),
          finalSize = formLogin.outerHeight();

      // Ignored elements
      if (ignore)
      {
        siblings = siblings.not(ignore);
      }

      // Get other elements height
      siblings.each(function(i)
      {
        finalSize += $(this).outerHeight(true);
      });

      // Setup
      container[animate ? 'animate' : 'css']({ marginTop: -Math.round(finalSize/2 +200)+'px' });
    }
  };

  centerForm(false);

  function displayError(message)
  {
    // Show message
    var message = formLogin.message(message, {
        append: false,
        arrow: 'bottom',
        classes: ['red-gradient'],
        animate: false          // We'll do animation later, we need to know the message height first
    });

    // Vertical centering (where we need the message height)
    centerForm(true, 'fast');

    // Watch for closing and show with effect
    message.bind('endfade', function(event)
    {
      // This will be called once the message has faded away and is removed
      centerForm(true, message.get(0));

    }).hide().slideDown('fast');
  };

  function displayLoading(message)
  {
    // Show message
    var message = formLogin.message('<strong>'+message+'</strong>', {
        append: false,
        arrow: 'bottom',
        classes: ['blue-gradient', 'align-center'],
        stripes: true,
        darkStripes: false,
        closable: false,
        animate: false          // We'll do animation later, we need to know the message height first
    });

    // Vertical centering (where we need the message height)
    centerForm(true, 'fast');

    // Watch for closing and show with effect
    message.bind('endfade', function(event)
    {
      // This will be called once the message has faded away and is removed
      centerForm(true, message.get(0));

    }).hide().slideDown('fast');
  };

  function showRequest(formData, jqForm, options)
  {
    var username = $.trim($('#id_username').val()),
        password = $.trim($('#id_password').val());
    // Check inputs
    if (username.length === 0 && password.length === 0)
    {
      // Display message
      formLogin.clearMessages();
      displayError("Please fill in your username and password.");
      return false;
    }
    else if (username.length === 0)
    {
      formLogin.clearMessages();
      displayError('{% trans "Please fill in your username" %}');
      return false
    }
    else if (password.length === 0)
    {
      // Remove empty login message if displayed
      formLogin.clearMessages();
      // Display message
      displayError('{% trans "Please fill in your password" %}');
      return false;
    }
  };

  function showResponse(responseText, statusText, xhr, $form)
  {
    // for normal html responses, the first argument to the success callback
    // is the XMLHttpRequest object's responseText property

    // if the ajaxForm method was passed an Options Object with the dataType
    // property set to 'xml' then the first argument to the success callback
    // is the XMLHttpRequest object's responseXML property

    // if the ajaxForm method was passed an Options Object with the dataType
    // property set to 'json' then the first argument to the success callback
    // is the json data object returned by the server
    displayLoading('{% trans "Checking credentials..." %}');
    setTimeout(function()
    {
      formLogin.clearMessages();
    }, 1000);
    if (responseText['success'] == true)
    {
      setTimeout(function()
      {
        displayLoading('{% trans "Log into site right now!" %}');
      }, 1000);
      setTimeout(function()
      {
        document.location.href = responseText['next']
      }, 2000);
    }
    else
    {
      setTimeout(function()
      {
        displayLoading("{% trans 'Username or password is not correct!' %}<br/><a href=\'{% url 'gauth-password-reset' %}\''>{% trans 'Forget your password?' %}</a>");
      }, 1000);
      setTimeout(function()
      {
        formLogin.resetForm();
      }, 1000);
    }
  };

});
</script>
{% endblock foot-js %}