{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ SITE_NAME }} - {% trans 'Sign up' %}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="pad">
    <h1 class="title">{{ SITE_NAME }}</h1>

    <form id="#form-signup" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
      <ul class="inputs black-input large">
      <!-- The autocomplete="off" attributes is the only way to prevent webkit browsers from filling the inputs with yellow -->
      <li><span class="icon-user mid-margin-right"></span><input autocomplete="off" id="id_username" maxlength="30" name="username" type="text" class="input-unstyled" placeholder="{% trans 'Username' %}"></li>
      <li><span class="icon-lock mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_password" name="password" type="password" class="input-unstyled" placeholder="{% trans 'Password' %}"></li>
      <li><span class="icon-lock mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_password_confirm" name="password_confirm" type="password" class="input-unstyled" placeholder="{% trans 'Password' %}"></li>
      <li><span class="icon-email mid-margin-right"></span><input style="margin-left:3px" ="off" id="id_email" name="email" type="text" class="input-unstyled" placeholder="{% trans 'Email' %}"></li>
      <input id="id_code" name="code" type="hidden">
      </ul>
      <button type="submit" class="btn">{% trans 'Submit' %}</button>
    </form>
  </div>
</div>
{% endblock content %}
