{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }}{% trans 'Password reset token fail' %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li>{% trans "Password reset token fail" %}</li>
{% endblock breadcrumbs %}

{% block account-content %}
<div class="pad">
  <h2>{% trans "Bad token" %}</h2>
  {% url "gauth-password-reset" as url %}
  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
</div>
{% endblock account-content %}
