{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }}{% trans "Reset user's password" %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li>{% trans "Reset Password Send" %}</li>
{% endblock breadcrumbs %}


{% block account-content %}
<div class="pad">
  <form method="POST" action="">
  <legend>{% trans "Password reset" %}</legend>
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
        <fieldset>
            {% csrf_token %}
            {{ form }}
            <div>
                <button type="submit" class="btn btn-primary">{% trans "Reset my password" %}</button>
            </div>
        </fieldset>
    </form>

    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
</div>
{% endblock account-content %}
