{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }}{% trans 'User list' %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>{% trans 'Account' %}</li>
{% endblock %}

{% block account-content %}
<ul class="thumbnails">
  {% for p in object_list %}
  <li class="span1"><div class="pad"><a href="{% url 'account-detail' p.id %}"><img src="{{ MEDIA_URL }}/{{ p.avatar }}"></a><br><center>{{ p.username }}</center></div></li>
  {% endfor %}
</ul>
{% endblock %}
