{% extends "gauth/gauth_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block title %}{{ block.super }}{% trans 'Password reset token' %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li>{% trans "Password reset token" %}</li>
{% endblock breadcrumbs %}

{% block account-content %}
<div class="pad">
  <form method="POST" action="{% url "gauth-password-reset-token" uidb36=uidb36 token=token %}">
    <legend>{% trans "Set your new password" %}</legend>
    <fieldset>{% csrf_token %}
      {{ form }}
      <div>
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock account-content %}
