{% extends "gauth/gauth_base.html" %}
{% load applicationcontent_tags feincms_tags i18n %}

{% block title %}{{ block.super }}{% trans 'User info' %}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'gauth-index' %}">{% trans 'Account' %}</a></li>
<li>{% trans "User" %} {{ object.username }}</li>
{% endblock breadcrumbs %}

{% block account-content %}
<div class="span3">
  <div class="pad">
    <h3 class="title">{{ object.username }}</h3>
    <div class="holder">
      <img src="{{ object.avatar }}" class="img-circle" alt="{% trans 'Your avatar' %}">
      {% if request.user == object or request.user.is_superuser %}
      <ul class="navbar">
    <li><span>{% trans "view details" %}</span></li>
    <li><a href="{% url 'gauth-edit' user.id %}">{% trans "edit details" %}</a></li>
    <li><a href="{% url 'gauth-password-change' %}">{% trans "change password" %}</a></li>
  </ul>
  {% endif %}
    </div>
  </div>
</div>

<div class="span9">
  <div class="pad">
    <h3 class="title">{% trans "Personal Details" %}</h3>
    <table class="table">
        <tr>
          <td>{% trans "Name" %}</td>
          <td>{{ object.username }}</td>
        </tr>
        {% if object.nickname %}
        <tr>
          <td>{% trans "Nickname" %}</td>
          <td>{{ object.nickname }}</td>
        </tr>
        {% endif %}
        <tr>
          <td>{% trans "Gender" %}</td>
        {% if object.gender == 1 %}
          <td>{% trans "Male" %}</td>
        {% elif object.gender == 2 %}
          <td>{% trans "Female" %}</td>
        {% else %}
          <td>{% trans "Unknown" %}</td>
        {% endif %}
        {% if object.birthday %}
        <tr>
          <td>{% trans "Day of Birth" %}</td>
          <td>{{ object.birthday }}</td>
        </tr>
        {% endif %}
        {% if object.telephone %}
        <tr>
          <td>{% trans "Telephone" %}</td>
          <td>{{ object.telephone }}</td>
        </tr>
        {% endif %}
        {% if object.email %}
        <tr>
          <td>{% trans "Email" %}</td>
          <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
        </tr>
        {% endif %}
      </table>
    {% if object.intro %}
    <div>
      <h2>{% trans "Profesional object" %}</h2>
      <ul>
        <li><p>{{ object.intro }}</p></li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
{% endblock account-content %}
