{% extends "site_base.html" %}
{% load i18n applicationcontent_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      {% block ask-content %}{% endblock ask-content %}
    </div>
    <div class="span3">
      <form action="" method="get">
        <input class="question-search" placeholder="Start typing your question here." type="text" name="title">
        <input value="Search" type="submit" class="btn submit-question-search">
      </form>
      {% block ask-sidebar %}{% endblock ask-sidebar %}
    </div>
  </div>
</div>
{% endblock content %}