{% extends "ask/ask_base.html" %}
{% load i18n applicationcontent_tags %}

{% block ask-content %}
<div class="pad holder">
<form class="form-horizontal" action="{% app_reverse 'ask-question' 'ask.urls' %}" method="POST">{% csrf_token %}
  {{ form_errors }}
  {{ form.as_p }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">{% trans 'Submit' %}</button>
    </div>
  </div>
</form>
</div>

<style>
#editor {
  width: 98%;
}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}libs/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
    mode : "textareas",
    theme : "simple"
});
</script>
{% endblock ask-content %}
