{% load i18n forum_tags applicationcontent_tags %}
<li class="topic"{% if forloop.last %} style="border-bottom: 0px"{% endif %}>
  <div class="avatar">
    <a href="{% app_reverse 'account-profile-detail' 'account.urls' reply.posted_by.user %}">
      <img src="{{ reply.posted_by.get_avatar_url }}" height="{{ AVATAR_HEIGHT }}" width="{{ AVATAR_WIDTH }}">
    </a>
  </div>
  <p>{{ reply.message|bbcode|safe }}</p>
  <div class="fade-in">By <a href="{% app_reverse 'account-profile-detail' 'account.urls' reply.posted_by.user.username %}" class="dark">{{ reply.posted_by }}</a> in <a href="{% app_reverse 'forum-forum' 'forum.urls' topic.forum.slug %}">{{ topic.forum }}</a> <span class="created">{{ reply.created_on|lbtimesince }}</span>
  {% if request.user.is_authenticated %}
  <span class="quote-post" style="float:right; padding-left:5px"><a href="{% app_reverse 'forum-new-replay' 'forum.urls' topic.pk %}?qid={{ reply.pk }}">{% trans "quote" %}</a></span>
  {% if request.user == reply.posted_by or user.is_staff %}
  <span class="edit-post" style="float:right; padding-left:5px"><a href="{% app_reverse 'forum-post-edit' 'forum.urls' reply.pk %}">{% trans "edit" %}</a></span>
  {% endif %}
  </div>
  {% endif %}
</li>
