{% extends "article/article_base.html" %}
{% load feincms_tags i18n %}

{% block article-content %}
{% for article in articles %}
<div class="pad">
  <div class="summary">
    <h3 class="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
    {% feincms_render_region article 'top' request %}
    {% feincms_render_region article 'main' request %}
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articless.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock article-content %}

{% block article-sidebar %}
<div class="pad">
  <h3 class="title">{% trans "Article Category" %}</h3>
  <ul>
    {% for category in categories %}
    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
    {% empty %}
    {% trans 'no category yet' %}
    {% endfor %}
  </ul>
</div>
{% endblock article-sidebar %}