{% extends "article/article_base.html" %}
{% load feincms_tags i18n applicationcontent_tags %}

{% block article-content %}
{% for article in articles %}
<div class="pad">
  <h3 class="title"><a href="article/{{ article.slug }}">{{ article.title }}</a></h3>
  <div class="holder">
    {% feincms_render_region article 'top' request %}
    {% feincms_render_region article 'main' request %}
  </div>
</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articless.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock article-content %}

{% block article-sidebar %}
<div class="pad">
  <h3 class="title">{% trans "Category" %}</h3>
  {% for category in categories %}
  <div class="menu-item" {% if not forloop.last %}style="border-bottom:1px solid #EEE;"{% endif %}><a href="{% app_reverse 'article_category' 'article.urls' category.slug %}">{{ category.name }}</a></div>
  {% empty %}
  <div>{% trans 'no category yet' %}</div>
  {% endfor %}
</div>
{% endblock article-sidebar %}
