{% extends "article/article_base.html" %}
{% load feincms_tags i18n %}

{% block article-content %}
<div class="pad">
  <h3 class="title">{{ article.title }}</h3>
  <div class="top holder">
    {% feincms_render_region article 'top' request %}
  </div>
  <div class="article full holder">
    {% feincms_render_region article 'main' request %}
  </div>
</div>
{% endblock article-content %}

{% block article-sidebar %}
<div class="pad">
  <h3 class="title">{% trans "Category" %}</h3>
  <ul>
    {% for category in categories %}
    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
    {% empty %}
    {% trans 'no category yet' %}
    {% endfor %}
  </ul>
</div>
{% endblock article-sidebar %}

{% block breadcrumbs %}
<li>
  <i class="icon-home"></i>
  <a href="/">首页</a>
</li>
<li><a href="../">{{ feincms_page.title }}</a></li>
<li>{{ article.title }}</li>
{% endblock breadcrumbs %}
