{% extends feincms_page.template.path|default:"site_base.html" %}
{% load i18n applicationcontent_tags feincms_page_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">{% block article-sidebar %}{% endblock article-sidebar %}</div>
    <div class="span9">{% block article-content %}{% endblock article-content %}</div>
  </div>
</div>
{% endblock %}

{% block breadcrumbs %}
<li>
  <i class="icon-home"></i>
  <a href="/">首页</a>
</li>
<li>{{ feincms_page.title }}</li>
{% endblock breadcrumbs %}
