{% extends "site_base.html" %}
{% load i18n applicationcontent_tags %}

{% block breadcrumbs %}
<li><i class="icon-home"></i><a href="/"> {% trans "Home" %}</a></li>
<li><a href="../">应用</a></li>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
  {% block sidebar %}
    <div class="span3 pad">
      <a class="pull-right" style="padding: 10px" href="#AddTermModal" role="button" data-toggle="modal"><i class="icon-plus-sign"></i></a>
      <h3 class="title">{% trans "Term List" %}</h3>
      {% for term in terms %}
      <div class="menu-item{% if forloop.last %} menu-item-last{% endif %}">
        <a class="pop-term pull-left entry-count" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'unread items number' %}" href="#">{{ term.unreads }}</a>
        <a style="margin-left: 46px" href="{{ term.get_absolute_url }}">
          {{ term.name }}
        </a>
      </div>
      {% empty %}
        {% trans "no term yet" %}
      {% endfor %}
    </div>

    <div id="AddTermModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="margin-bottom: 20px">
        <button type="button" class="close" style="padding: 10px" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="title" id="myModalLabel">{% trans "Add Term" %}</h3>
      </div>
      <form class="form-horizontal" action="{% app_reverse 'entrez-add-term' 'entrez.urls' %}" method="POST">{% csrf_token %}
        {{ form.as_bootstrap }}
        <div class="form-actions">
          <button class="btn btn-primary" name="submit">{% trans "Submit" %}</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        </div>
      </form>
    </div>
  {% endblock sidebar %}
  {% block entrez-content %}{% endblock entrez-content %}
  </div>
</div>
<script>
$('html').ajaxSend(function(event,xhr,settings){
    function getCookie(name){
        var cookieValue=null;
        if(document.cookie && document.cookie!=''){
            var cookies=document.cookie.split(';');
            for(var i=0;i<cookies.length;i++){
                var cookie=jQuery.trim(cookies[i]);
                if(cookie.substring(0,name.length+1)==(name+'=')){
                    cookieValue=decodeURIComponent(cookie.substring(name.length+1));break;
                }
            }
        }
        return cookieValue;
    }

    if(!(/^http:.*/.test(settings.url)||/^https:.*/.test(settings.url))){
        xhr.setRequestHeader("X-CSRFToken",getCookie('csrftoken'));
    }
});


    //$('.un-read').waypoint(function(direction) {
    //    mark_read($(this).attr('id'));
    //});

    //function mark_read(item_id){
    //    $.ajax({
    //        type: "POST",
    //        url: "{% app_reverse 'entrez-mark-as-read' 'entrez.urls' %}",
    //        data: {'entrezitem_id': item_id},
    //    });
    //});
$(function(){
    $('.pop-term').tooltip('hide');
    $('.favIt').click(function(){
        var itemId = $(this).attr('data');
        $.ajax({
            type: "POST",
            url: "{% url 'ajax_fav' %}",
            data: {
                content_type_id: {{ ct_id }},
                object_id: itemId,
                //csrftoken: getCookie('csrftoken'),
            },
            dataType: "json",
            timeout: 2000,
            cache: false,
            beforeSend: function(XMLHttpRequest) {
                //$("#loader").fadeIn();
            },
            error: function(data, XMLHttpRequest, textStatus, errorThrown){
                $(this).html("Error connecting to the server.");
            },
            complete: function(XMLHttpRequest, textStatus) {
                //$("#loader").fadeOut();
            },
            success: function(data, textStatus, XMLHttpRequest){
                $('#FavIt_'+itemId).html(data.message);
                $('#FavCounter_'+itemId).html(data.counter);
            }
        });
        return false;
    });
    $('.mark-read').click(function(){
        var itemId = $(this).attr('data')
        $.ajax({
            type: 'POST',
            url: "{% app_reverse 'entrez-mark-as-read' 'entrez.urls' %}",
            data: {
                entrezentry_id: itemId,
            },
            dataType: "json",
            success: function(data, textStatus, XMLHttpRequest){
                $('#entry-heading-'+itemId).removeClass("unread");
            }
        });
    });
});
</script>
{% endblock content %}
