{% extends "site_base.html" %}
{% load i18n applicationcontent_tags %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
  {% block sidebar %}
    <div class="span3 pad">
      <a class="pull-right" style="padding: 10px" href="#AddTermModal" role="button" data-toggle="modal"><i class="icon-plus-sign"></i></a>
      <h3 class="title">{% trans "Term List" %}</h3>
      {% for term in terms %}
      <div class="menu-item{% if forloop.last %} menu-item-last{% endif %}">
        <a class="pop-term pull-left entry-count" data-toggle="tooltip" data-placement="top" data-original-title="{% trans 'unread items number' %}" href="#">{{ term.unreads }}</a>
        <a style="margin-left: 46px" href="{{ term.get_absolute_url }}">
          {{ term.name }}
        </a>
      </div>
      {% empty %}
        {% trans "no term yet" %}
      {% endfor %}
    </div>

    <div id="AddTermModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="margin-bottom: 20px">
        <button type="button" class="close" style="padding: 10px" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="title" id="myModalLabel">{% trans "Add Term" %}</h3>
      </div>
      <form class="form-horizontal" action="{% app_reverse 'entrez-add-term' 'entrez.urls' %}" method="POST">{% csrf_token %}
        {{ form.as_bootstrap }}
        <div class="form-actions">
          <button class="btn btn-primary" name="submit">{% trans "Submit" %}</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
        </div>
      </form>
    </div>
  {% endblock sidebar %}
  {% block entrez-content %}{% endblock entrez-content %}
  </div>
</div>
<script>
$(document).ready(function(){
    $('.pop-term').tooltip('hide');
    //$('.un-read').waypoint(function(direction) {
    //    mark_read($(this).attr('id'));
    //});

    function mark_read(item_id){
        $.ajax({
            type: "POST",
            url: "{% app_reverse 'entrez-mark-as-read' 'entrez.urls' %}",
            data: {'entrezitem_id': item_id},
        });
    }
});
</script>
</script>
{% endblock content %}
