{% load i18n endless gfavor_tags %}

{% paginate objects %}

<div class="entry-accordion" id="accordion">
{% for obj in objects %}
  <div class="entry-accordion-group"{% if forloop.last %}style="border-bottom:0px"{% endif %}>
    <div class="entry-accordion-heading">
      {{ obj.get_db_badge }}
      <a id="entry-heading-{{ obj.id }}" data="{{ obj.id }}" class="entry-accordion-toggle mark-read{% if not obj.read %} unread{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#{{ obj.pk }}">
        <nobr>{{ obj.title|title }}</nobr>
      </a>
    </div>
    <div id="{{ obj.pk }}" class="entry-accordion-body collapse">
      <div class="entry-accordion-inner">
        <div class="entry-content">{{ obj.content|linebreaks|cut:"<br />" }}</div>
        <div class="toolbar">
          <a href="{{ obj.real_url }}" class="btn btn-primary pull-right" target="blank">{% trans "Original Link" %}</a>
          <a class="favIt" data="{{ obj.id }}" href="#">Fav it</a>
          <a class="mark-read" data="{{ obj.id }}" href="#">Read it</a>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <div class="entry-accordion-group">
    <div class="entry-accordion-heading">
      {% trans "no entry yet" %}
    </div>
  </div>
{% endfor %}
</div>

<div class="pages">
  <div class="pagination">{% show_pages %}</div>
</div>
