{% load i18n forum_tags applicationcontent_tags %}
<li class="topic"{% if forloop.last %} style="border-bottom: 0px"{% endif %}>
  <div class="avatar">
    <a href="{% app_reverse 'profile-detail' 'pows.contrib.account.urls' reply.author.username %}">
      <img src="{{ reply.author.avatar }}" height="{{ AVATAR_HEIGHT }}" width="{{ AVATAR_WIDTH }}">
    </a>
  </div>
  <p>{{ reply.content|safe }}</p>
  <div class="fade-in">By <a href="{% app_reverse 'profile-detail' 'pows.contrib.account.urls' reply.author.username %}" class="dark">{{ reply.author.username }}</a> in <a href="{% app_reverse 'forum-forum' 'pows.apps.forum.urls' forum.id %}">{{ topic.forum }}</a> <span class="created">{{ reply.created|lbtimesince }}</span>
  {% if request.user.is_authenticated %}
  <span class="quote-post" style="float:right; padding-left:5px"><a href="{% app_reverse 'forum-reply-topic' 'pows.apps.forum.urls' topic.id %}?qid={{ reply.pk }}">{% trans "quote" %}</a></span>
  {% if request.user == reply.author or user.is_staff %}
  <span class="edit-post" style="float:right; padding-left:5px"><a href="{% app_reverse 'forum-edit-post' 'pows.apps.forum.urls' reply.pk %}">{% trans "edit" %}</a></span>
  {% endif %}
  </div>
  {% endif %}
</li>
