{% load i18n forum_tags applicationcontent_tags %}
<ul class="topic-list">
  <li class="topic-bar">
    <span class="avatar">{% trans "avatar" %}</span>
    <span class="topic-title">{% trans "topic" %}</span>
    <span class="count-title">{% trans "reply" %}</span>
    <span class="count-title">{% trans "view" %}</span>
  </li>
  {% for topic in topics %}
  <li class="topic">
    <div class="avatar">
      <a href="{% app_reverse 'profile-detail' 'pows.apps.account.urls' topic.author__username %}"><img src="{% if topic.author__avatar %}{{ MEDIA_URL}}{{ topic.author__avatar }}{% else %}{{ MEDIA_URL }}avatar/default.png{% endif %}" height="{{ AVATAR_HEIGHT }}" width="{{ AVATAR_WIDTH }}"></a>
    </div>
    <p><a href="{% app_reverse 'forum-topic' 'pows.apps.forum.urls' topic.id %}">{{ topic.subject }}</a></p>
    <div class="fade-in">By <a href="{% app_reverse 'profile-detail' 'pows.apps.account.urls' topic.author__username %}" class="dark">{{ topic.author__username }}</a> in <a href="{% app_reverse 'forum-forum' 'pows.apps.forum.urls' topic.forum__id %}">{{ topic.forum__name }}</a> <span class="created">{{ topic.created|lbtimesince }}</span></div>
    <div class="topic-info">
      <div class="replies">{{ topic.reply_num }}</div>
      <div class="views">{{ topic.view_num }}</div>
    </div>
  </li>
  {% endfor %}
</ul>
